<div class="container">
    <h1>LIS Interview Challenge</h1>
    <p>
        Maps and location are a key aspect of LIS. We use location in order to validate and update the planning of our
        customers. With this location we can
        determine wether a certain point of interest has been visited or not.
    </p>
    <p>
        This challenge contains an Angular application with a map where users can add their own points of interest. The
        application itself is not fully complete yet and during the interview we would like you to complete/improve it
        (in code or pseudo code).
    </p>
</div>